In [20]:
from pyspark.sql import SparkSession

In [55]:
spark = SparkSession \
    .builder \
    .appName("Databases II") \
    .getOrCreate()

In [ ]:
movie = (spark.read
      .format("csv")
      .option('header', 'true')
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .load("movie.csv")
     )

In [77]:
rating = (spark.read
      .format("csv")
      .option('header', 'true')
      .option("delimiter", ",")
      .option("inferSchema", "true")
      .load("rating.csv")
     )

In [5]:
# register 'movie' and 'rating' dataframes as SQL temporary views
movie.createOrReplaceTempView("movie")
rating.createOrReplaceTempView("rating")

In [7]:
# execute the SQL query
spark.sql("SELECT title, count(userId) AS total_viewers FROM movie INNER JOIN rating ON movie.movieId = rating.movieId WHERE title = 'Jumanji (1995)' GROUP BY title").show()

+--------------+-------------+
|         title|total_viewers|
+--------------+-------------+
|Jumanji (1995)|        22243|
+--------------+-------------+

In [19]:
spark.stop()